@using Client.ThietLap
@inject IOptions<MayChuApi> MayChuApi
@{
    string id = ViewData["modal-them-id"]?.ToString() ?? throw new NullReferenceException();
}
<!-- Begin Index.Partial.Them-->
<div class="modal fade" id="@id" tabindex="-1" role="dialog" aria-labelledby="@(id)--label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="@(id)-label">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="@(id)--form">
                <div class="modal-body">

                    <div class="form-group">
                        <label for="@(id)--ten">Tên học phần</label>
                        <input type="text" name="ten" class="form-control" id="@(id)--ten">
                    </div>

                    <div class="form-group">
                        <label for="@(id)--mieuTa">Miêu tả</label>
                        <input type="text" name="mieuTa" class="form-control" id="@(id)--mieuTa">
                    </div>

                    <div class="form-group">
                        <label for="@(id)--soBuoi">Số buổi</label>
                        <input type="number" name="soBuoi" class="form-control" id="@(id)--soBuoi">
                    </div>

                    <div class="form-group">
                        <label for="@(id)--IdMonHoc">Môn học</label>
                        <select id="@(id)--IdMonHoc" name="IdMonHoc" class="form-control select2">
                            <option value="">Chọn môn</option>
                        </select>
                    </div>

                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" id="@(id)--submit" class="btn btn-primary">Tạo</button>
            </div>
        </div>
    </div>
</div>

<script>
	window.addEventListener('load', function () {
		$('.select2').select2();
		let submit = document.getElementById('@(id)--submit');
		/**@@type {HTMLFormElement}*/
		let form = document.getElementById('@(id)--form');
		let modal = $('#@(id)');
		submit.onclick = function () {
			let data = Object.fromEntries(new FormData(form).entries());
			fetch('@(MayChuApi.Value.DiaChi)/api/hocphan', {
				method: 'POST',
				body: JSON.stringify(data),
				headers: new Headers({ 'content-type': 'application/json' })
			}).then(res => {
				switch (res.status) {
					case 201:
						$('#table').DataTable().ajax.reload();
						modal.modal('hide');
						break;
				}
			});
		};

		/**@@type {HTMLSelectElement}*/
		let select = document.getElementById('@(id)--IdMonHoc');
		$(modal).on('show.bs.modal', function () {
			if (select.options.length == 1) {
				fetch('@(MayChuApi.Value.DiaChi)/api/monhoc/toithieu')
					.then(res => res.json())
					.then(data => data.forEach(item => {
						let option = document.createElement('option');
						option.value = item.id;
						option.textContent = item.ten;
						select.options.add(option);
					}));
			}
		});
	});
</script>
<!-- End Index.Partial.Them-->