@inject IOptions<Client.ThietLap.MayChuApi> MayChuApi
@{
	string id = ViewData["modal-sua-id"]?.ToString() ?? throw new NullReferenceException();
}
<!-- Begin Index.Partial.Sua-->
<div class="modal fade" id="@id" tabindex="-1" role="dialog" aria-labelledby="@(id)--label" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="@(id)-label">Modal title</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form id="@(id)--form">
				<input type="hidden" name="id" id="@(id)--id">
				<div class="modal-body">

					<div class="form-group">
						<label for="@(id)--ten">Tên trường</label>
						<input type="text" name="ten" class="form-control" id="@(id)--ten">
					</div>

					<div class="form-group">
						<label>Trường thông tin người dùng</label>
						<select id="@(id)--idTruongThongTinNguoiDung" multiple="multiple">
						</select>
					</div>

					<div class="form-group">
						<label>Kiểu người dùng</label>
						<select id="@(id)--idKieuNguoiDung" class="form-control" style="width: 100%;">
							<option value="">Chọn kiểu người dùng</option>
						</select>
					</div>

				</div>
			</form>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
				<button type="button" id="@(id)--submit" class="btn btn-primary">Lưu</button>
			</div>
		</div>
	</div>
</div>

<script>
	window.addEventListener('load', function () {
		let select = document.getElementById('@(id)--idKieuNguoiDung');

		let dom = document.getElementById('@id');
		dom.data = {
			id: document.getElementById('@(id)--id'),
			hoVaTen: document.getElementById('@(id)--ten'),
			idTruongThongTinNguoiDung: document.getElementById('@(id)--idTruongThongTinNguoiDung'),
			close: document.getElementById('@(id)--close'),
			form: document.getElementById('@(id)--form'),
			old: null,
			newObj: null,
			phanLoai: null
		};

		let cacheDetails = {};

		dom.nap = async function (id) {
			let data = $('#@ViewData["bang-id"]').DataTable().data().filter(x => x.id === id)[0];
			dom.data.old = data;
			dom.data.phanLoai = data.phanLoai;
			dom.data.hoVaTen.value = data.soYeuLyLich.hoVaTen;
			dom.data.email.value = data.soYeuLyLich.email;
			dom.data.soDienThoai.value = data.soYeuLyLich.dienThoai;
			dom.data.sinhNgay.value = data.soYeuLyLich.sinhNgay.substring(0, 10);

			if (cacheDetails[data.id] == null && data.phanLoai !== 'QuanTri')
				cacheDetails[data.id] = await fetch(`@@(MayChuApi.Value.DiaChi)/Api/DanhSachTruongThongTinNguoiDungThuocKieuNguoiDung/TheoKieuNguoiDung?id=${data.id}`, {})
					.then(res => res.json());

			dom.data.newObj = JSON.parse(JSON.stringify(dom.data.old));

		}

		let cacheTruongTheoId = [];
		let cacheTruong = null;
		dom.napSelect = async function (id) {
			let task = (async () => {
				if (cacheTruong == null)
					cacheTruong = await fetch().then(res => res.json());
			})();

			let task2 = (async () => {
				if (cacheTruongTheoId[id] == null)
					cacheTruongTheoId[id] = await fetch().then(res = res.json());
			})();

			Promise.all([task, task2])
				.then(() => {
					let data = cacheTruongTheoId[id];

					/**@@type {HTMLSelectElement}*/
					let select = dom.data.idTruongThongTinNguoiDung;

					cacheTruong.forEach(item => {
						let option = document.createElement('option');
						option.value = item.value;
						if (data.some(x => x.id === item.id))
							option.selected = true;
						select.options.add(option);
					})
				});
		}

		dom.data.submit.addEventListener('click', function () {
			dom.data.newObj.ten = dom.data.ten.value;
			dom.data.newObj.idTruongThongTinNguoiDung = [];

			for (var item of select.selectedOptions) {
				dom.data.newObj.idTruongThongTinNguoiDung.push(item.value);
			}

			var diff = jsonpatch.compare(dom.data.old, dom.data.newObj);
			fetch('@(MayChuApi.Value.DiaChi)/api/kieutaikhoan?id=${dom.data.old.id}', {
				method: 'PATCH',
				body: JSON.stringify(diff),
				headers: { 'content-type': 'application/json' }
			})
				.then(res => {
					switch (res.status) {
						case 200:
							$('#@(ViewData["bang-id"])').DataTable().ajax.reload();
							$(dom).modal('hide');
							cacheDetails[dom.data.old.id] = null;
							if (globalThis.flags == null) globalThis.flags = [];
							globalThis.flags.push(dom.data.old.id);
							break;
					}
				});
		});
		this['obj-@id'] = dom;
	});
</script>
<!-- End Index.Partial.Sua-->