@using Client.ThietLap
@inject IOptions<MayChuApi> MayChuApi
@{
    string id = ViewData["modal-sua-id"]?.ToString() ?? throw new NullReferenceException();
}
<!-- Begin Index.Partial.Sua-->
<div class="modal fade" id="@id" tabindex="-1" role="dialog" aria-labelledby="@(id)--label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="@(id)-label">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="@(id)--form">
                <input type="hidden" name="id" id="@(id)--id">
                <div class="modal-body">

                    <div class="form-group">
                        <label for="@(id)--ten">Tên trường</label>
                        <input type="text" name="ten" class="form-control" id="@(id)--ten">
                    </div>

                    <div class="form-group">
                        <label>Trường thông tin người dùng</label>
                        <select id="@(id)--truongThongTinNguoiDung" multiple="multiple">
                        </select>
                    </div>

                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" id="@(id)--submit" class="btn btn-primary">Lưu</button>
            </div>
        </div>
    </div>
</div>

<script>
	window.addEventListener('load', function () {
		/**@@type {HTMLSelectElement}*/
		let select = document.getElementById('@(id)--truongThongTinNguoiDung');
		let selectDualList = $(select).bootstrapDualListbox();

		let dom = document.getElementById('@id');
		dom.data = {
			id: document.getElementById('@(id)--id'),
			ten: document.getElementById('@(id)--ten'),
			truongThongTinNguoiDung: document.getElementById('@(id)--truongThongTinNguoiDung'),
			submit: document.getElementById('@(id)--submit'),
			close: document.getElementById('@(id)--close'),
			form: document.getElementById('@(id)--form'),
			old: null,
			newObj: null,
			phanLoai: null
		};

		dom.xoa = function () {
			let options = select.options;
			for (let item of options)
				item.selected = false;
		};

		let cacheDetails = {};
		dom.nap = async function (id) {
			let data = $('#@ViewData["bang-id"]').DataTable().data().filter(x => x.id === id)[0];
			dom.data.old = data;
			dom.data.ten.value = data.ten;
			dom.xoa();
			dom.napSelect(id);
			dom.data.newObj = JSON.parse(JSON.stringify(dom.data.old));
		}

		let cacheTruongTheoId = [];
		let cacheTruong = null;
		dom.napSelect = async function (id) {
			let task = (async () => {
				if (cacheTruong == null)
					cacheTruong = await fetch('@(MayChuApi.Value.DiaChi)/api/truongthongtinnguoidung').then(res => res.json());
				if (select.options.length != cacheTruong.length) {
					cacheTruong.forEach(item => {
						let option = document.createElement('option');
						option.value = item.id;
						option.textContent = item.ten;
						select.options.add(option);
					});
				}
			})();

			let task2 = (async () => {
				if (cacheTruongTheoId[id] == null)
					cacheTruongTheoId[id] = await fetch(`@(MayChuApi.Value.DiaChi)/Api/DanhSachTruongThongTinNguoiDungThuocKieuNguoiDung/TheoKieuNguoiDung?id=${id}`).then(res => res.json());
			})();

			Promise.all([task, task2])
				.then(() => {
					let data = cacheTruongTheoId[id];

					data.forEach(x => {
						select.querySelector(`option[value="${x.id}"]`).selected = true;
					});

					selectDualList.bootstrapDualListbox('refresh');
				});
		}

		dom.data.submit.addEventListener('click', function () {
			dom.data.newObj.ten = dom.data.ten.value;

			let danhSachTruongDaChon = [];
			for (var item of select.selectedOptions)
				danhSachTruongDaChon.push(item.value);

			var diff = jsonpatch.compare(dom.data.old, dom.data.newObj);

			let capNhat1 = fetch(`@(MayChuApi.Value.DiaChi)/api/kieunguoidung?id=${dom.data.old.id}`, {
				method: 'PATCH',
				body: JSON.stringify(diff),
				headers: { 'content-type': 'application/json' }
			}).then(res => res.status);

			let capNhat2 = fetch(`@(MayChuApi.Value.DiaChi)/api/kieunguoidung/truongthongtinnguoidung?id=${dom.data.old.id}`, {
				method: 'PATCH',
				body: JSON.stringify(danhSachTruongDaChon),
				headers: { 'content-type': 'application/json' }
			}).then(res => res.status);

			Promise.all([capNhat1, capNhat2]).then(res => {
				if (res[0] = 200) {
					$('#@(ViewData["bang-id"])').DataTable().ajax.reload();
					$(dom).modal('hide');
					cacheTruongTheoId[dom.data.old.id] = null;
					if (globalThis.flags == null) globalThis.flags = [];
					globalThis.flags.push(dom.data.old.id);
				}
			});
		});
		this['obj-@id'] = dom;
	});
</script>
<!-- End Index.Partial.Sua-->